.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
  

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: rgb(181, 218, 138);
  background-color: rgb(211, 135, 21);

}

.App-title {
  color: rgb(41, 212, 41);
  font-size: .5em;
}

.App-intro {
  font-size: large;
}
.Cats-List {
  background-color: rgba(78, 66, 32, 0.171);
  block-size: 900pt ;
  
}
.Footer {
  font-size: 10pt;
  text-align: center;
  
}
.Carousel.Item  { 
  size: auto;

}
.carousel-inner {
  padding: 100pt;
}

.img {
  padding: 600pt;
}
 

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
