.App {
  text-align: center;
  background-color: teal;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.form {
  block-size: 900pc;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: rgb(181, 218, 138);
  background-color: blanchedalmond;

}

.App-title {
  color: rgb(41, 212, 41);
  font-size: .5em;
}

.App-intro {
  font-size: large;
}
.Cats-List {
  background-color: rgba(78, 66, 32, 0.171);
  block-size: 900pt ;
  
}
.Footer {
  font-size: 10pt;
  text-align: center;
  
}

.page-header {
  background-color: burlywood;
  font-family: cursive;
  margin-top: auto;
}
.page-header subtitle {
  font-size: 6cm;
}
 .

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
